<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <welcome-file-list>
    <welcome-file>Search.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>搜索字幕</description>
    <display-name>sub query</display-name>
    <servlet-name>Query</servlet-name>
    <servlet-class>iip.action.Query</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/Query</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Search.jsp</welcome-file>
  </welcome-file-list>
</web-app>